@{
    ViewData["Title"] = "Dashboard";
    ViewData["Description"] = "Your powerful dashboard is here";
    Layout = "_LayoutPortal2_Angular";
}
<div ng-app="MixPortal" ng-init="init()" ng-controller="AppPortalController" class="h-100">
<header-nav settings="settings" bread-crumbs="breadCrumbs"></header-nav>
       
    <!-- Page Content Holder -->
    <div class="container-fluid wrapper mh-100">
        <div class="row flex-xl-nowrap">
            <main-side-bar class="col-md-2 w-100 bdrr" ng-if="isAdmin"></main-side-bar>

            <!-- /.Sidebar Holder -->
            <main class="col-md-10 py-3 px-md-2 sw-content w-100" role="main">
                <section class="content container">
                    <jumbotrons ng-if="isInit" tag-name="pageTagName" tag-type="pageTagType"></jumbotrons>                   
                <div class="dimmer" ng-class="{'active': isBusy}">
                    <div class="loader" ></div>
                    <div class="{{pageClass}} dimmer-content" ng-view>
                        
                    </div>
                </div>
                    <medias ng-if="isInit"></medias>
                    <modal-articles ng-if="isInit"></modal-articles>
                    <hub-messages ng-if="isInit"></hub-messages>
                    <message ng-if="isInit" message="message"></message>
                    <confirm ng-if="isInit" message="confirmMessage"></confirm>
                    <modal-favorite ng-if="isInit"></modal-favorite>
                    <preview-popup ng-if="isInit" preview-object="previewObject"></preview-popup>
                </section>

                
            </main>
        </div>
    </div>
</div>