<div class="card">
        <div class="card-header">
                <filter-list request="request" callback="getList(pageIndex)"></filter-list>
        </div>
        <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap sortable table-sm table-hover" id="list-page" cellspacing="0" ng-init="getList()">
            <thead>
              <tr>
                <th class="w-1">#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Created date</th>
                <th>By</th>

                <th></th>
              </tr>
            </thead>
            <tbody class="sortable-item" style="border: 1px;">
                    <tr class="" sort-model="category" ng-repeat="item in data.items track by $index"  sort-model-id="{{item.id}}" data-toggle="collapse" href="#collapse-page{{item.id}}-childs"
                        role="button" aria-expanded="false" aria-controls="collapse-page{{item.id}}-childs">
        
        
                        <td class="drag-header">
        
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-light"><span class="oi oi-chevron-top small"></span></button>
                                <button type="button" class="btn btn-light"><span class="oi oi-chevron-bottom small"></span></button>
                            </div>
                        </td>
        
                        <td>
                            {{item.title}}
                        </td>
                        <td>
                            <small>
                                {{shortString(item.excerpt,50)}}
                            </small>
                        </td>
                        <td>
                            <small>
                                {{item.createdDateTime | utcToLocal:'dd.MM.yy hh:mm a'}}
                            </small>
                        </td>
                        <td>
                            {{item.createdBy}}
                        </td>
     
                        <td>
                            <div class="btn-group btn-group-sm btn-group-sm float-right" role="group" aria-label="Actions">
        
                                <a ng-if="item.childs.length>0" class="btn btn-light" data-toggle="collapse" href="" role="button"
                                    aria-expanded="false" aria-controls="collapse-page{{item.id}}-childs">
                                    <span class="fas fa-list text-primary"></span>
                                </a>
                              
                                <a href="/portal/page/details/{{item.id}}" class="btn btn-light"><span class="fas fa-pencil-alt text-primary"></span></a>
                                <a href="{{item.detailsUrl}}" target="_blank" class="btn btn-light"><span class="fas fa-eye text-primary"></span></a>
                               <a ng-if="item.type==2" href="/portal/page/page-article/list/{{item.id}}" class="btn btn-light">
                                    <span class="fas fa-list text-info"></span>
                                </a> 
                                 <!-- 
                                <a ng-if="item.type==2" href="#" data-toggle="modal" data-target="#modal-articles" class="btn btn-light">
                                    <span class="fas fa-list text-info"></span>
                                </a>-->
                                <a href="#" class="btn btn-light" ng-click="remove(item.id)">
                                    <span class="fas fa-times text-danger"></span>
                                </a>
                            </div>
                        </td>
                </tr>                                             
        </tbody>
           
          </table>
        </div>
        <div class="card-footer">
                <paging class="small" page="data.page" page-size="data.pageSize" total="data.totalItems" ul-class="pagination justify-content-end mb-0"
                a-class="page-link" paging-action="getList(page-1)" scroll-top="true"></paging>
        </div>
</div>
