<div class="card" ng-init="$ctrl.init()">
        <div class="card-header">
                <h3 class="card-title"> {{$ctrl.header }}</h3>
        </div>
    <div class="card-body p-0" style="background:url(/images/upload-image-thumbnail.png) no-repeat center;  cursor:pointer;min-height: 100px;">        
        <img imageonload ng-src="{{$ctrl.srcUrl}}"  ng-if="$ctrl.srcUrl" name="pic" 
        class="custom-file-img d-block ng-scope ml-auto mr-auto" style="max-height: {{$ctrl.maxHeight}};" accept="image/*">
        <input type="hidden" value="{{$ctrl.type}}/{{$ctrl.folder}}" class="folder-val">
    </div>
    <div class="card-footer">
            <div class="form-group">
            <label class="form-label">Image URL</label>
            <div class="input-group">
                <span class="input-group-prepend" id="basic-addon3">
                <span class="input-group-text">https://</span>
                </span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="$ctrl.srcUrl" ng-change="$ctrl.updateSrc()" >
            </div>
            </div>
            <!-- <div class="form-group">
                <label class="form-label">From URL</label>
                <input type="text" ng-model="$ctrl.srcUrl" ng-change="$ctrl.updateSrc()" class="form-control">
            </div> -->
            <div class="form-group">
                <div class="form-label">From file:</div>
                <div class="custom-file">
                    <input id="{{$ctrl.id}}" type="file" class="custom-file-input" name="example-file-input-custom" name="pic" ngf-select="$ctrl.selectFile($file, $invalidFiles)" data-file="file.file" class="position-absolute" style="width:100%; /*height:130px;*/ cursor:pointer;">
                    <label class="custom-file-label" for="{{$ctrl.id}}">Choose file..</label>
                </div>
            </div>
            <!-- <div class="form-group m-0">
                <label class="form-label">From File</label>

                <div class="custom-file">
                      
                        <input id="{{$ctrl.id}}" type="file" name="pic" ngf-select="$ctrl.selectFile($file, $invalidFiles)" data-file="file.file" class="position-absolute" style="width:100%; /*height:130px;*/ cursor:pointer;">
                        <label class="custom-file-label" for="{{$ctrl.id}}">Choose file</label>
                    </div>
            </div> -->
    </div>
</div>